@import url('https://fonts.googleapis.com/css2?family=Lato&family=Tiro+Gurmukhi&display=swap');
body{
  background-color: #ccc;
  font-family: 'Lato', sans-serif;
  font-family: 'Tiro Gurmukhi', serif;
}